Thumbs.db
*.obj
*.exe
!.nuget/NuGet.exe
!RCsln/.nuget/NuGet.exe
!OrionWeb/Modules/Services/Agent/BMA/Printer/*.exe
!OrionWeb/PDF2IMG/MupdfSharp.exe
!OrionWeb/Tools/HtmlToPDF/wkhtmltopdf.exe
!OrionWeb/Tools/HtmlToPDF/wkhtmltoimage.exe
!SCPopupWebSite/PDF2IMG/MupdfSharp.exe
*.pdb
!ReferencedDlls/*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
*.scc
$tf*/
Backup
SCPopupWebSite/UploadedFile
pingme.txt
[Pp]ackages
/OrionWeb/UploadedFile/om/Reports
ErrorLog.xml
OrionWeb/RelocateeDocuments
OrionWeb/UploadedFile
_UpgradeReport_Files
Upgradelog.*
/SCPopupWebSite/App_Data/ViewState
/OrionWeb/App_Data/ViewState
/OrionWeb/CMAReport.txt
/OrionWeb/CMAURLReport.txt
/SCPopupWebSite/CMAURLReport.txt
BillingReport
*.sln.ide
/SCPopupWebSite/Upload

/PopopSln/TestWeb
/OrionWeb/NewAuthorization.txt

# Visual Studo 2015 cache/options directory
.vs/
/OrionWeb/Modules/Reports/Termination/backup
/OrionWeb/VCUploadPhoto.txt
connectionStringsMaster.config
connectionStringsDev.config
sessionState.config
#.vscode
crash.txt
/OrionWeb/Modules/Reports/AdHocReport/ReportOutput
/BackOfficePortal/appsettings.local.json
BackOfficePortal/package-lock.json
backofficeportal-web/package-lock.json
DatabaseSettings.xml
*.pubxml

BackOfficePortal/BackOfficePortal\.xml

BackOfficePortal/Properties/
